.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.imageColorBox1 {
  width: 33.33%;
  height: 100%;
  background-color: yellow;
}
.imageColorBox2 {
  width: 33.33%;
  height: 100%;
  background-color: blue;
}
.imageColorBox3 {
  width: 33.33%;
  height: 100%;
  background-color: green;
}
