.container {
  width: 100vw;
  height: 100vh;
  border-radius: 30px;
  overflow: visible;
}
.imageColorBox1 {
  position: relative;
  width: 100%;
  height: 33%;
}
.bgkColor1 {
  background-color: orange;
}
.imageColorBox2 {
  position: relative;
  width: 100%;
  height: 34%;
  z-index: -1;
}
.bgkColor2 {
  background-color: white;
}
.bgkColor3 {
  background-color: green;
}
.imageColorBox3 {
  position: relative;
  width: 100%;
  height: 33%;
  z-index: -1;
}
span {
  display: inline-block;
  margin-left: 30em;
}
.bills {
  font-weight: bold;
  color: blue;
  margin-top: 6em;
}
.born {
  font-weight: bold;
  margin-top: 4em;
}
.detail {
  margin-left: 37.5em;
  margin-top: 3em;
  font-size: 0.8em;
}
.line3 {
  margin-top: 0;
  font-weight: bold;
}
.line5 {
  margin-top: 0;
}
.line7 {
  margin-top: 0;
}
.lastName {
  position: absolute;
  font-size: 5em;
  top: 72px;
  left: 260px;
  visibility: hidden;
}
.firstName {
  position: absolute;
  font-size: 5em;
  top: 72px;
  left: 940px;
  visibility: hidden;
}
.menu_box {
  display: inline-block;
  margin-top: 3em;
  margin-left: 84em;
  width: 50px;
  height: 50px;
  background-color: black;
}
.menu_container {
  position: relative;
}
.menu_content {
  position: absolute;
  width: 50px;
  height: 75px;
  /* background-color: blue; */
  top: 2em;
  left: 80em;
  /* border: 1px solid; */
  visibility: hidden;
  text-align: right;
}
#signature {
  width: 600px;
  margin-left: 20em;
}
#centerOfIndia {
  width: 150px;
  position: absolute;
  top: 62px;
  left: 640px;
  visibility: hidden;
}
#english:hover {
  cursor: pointer;
}
#hindhi:hover {
  cursor: pointer;
}
#hobby:hover {
  cursor: pointer;
}
.menu_icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.menu_icon > span {
  display: block;
  margin-left: 0;
  margin-bottom: 8px;
  width: 30px;
  height: 2px;
  background-color: white;
  transition: transform 0.7s;
}
.menu_icon > span:last-child {
  margin-bottom: 0;
}
.menu_open > span:nth-child(1) {
  transition-delay: 70ms;
  transform: translateY(10px) rotate(135deg);
}
.menu_open > span:nth-child(2) {
  transform: translateX(-18px) scaleX(0);
}
.menu_open > span:nth-child(3) {
  transition-delay: 70ms;
  transform: translateY(-10px) rotate(-135deg);
}
.image1 {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  background-color: black;
}
.image2 {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 33%;
  width: 34%;
  height: 100%;
  background-color: white;
}
div > .image2 {
  background-color: black;
}
.image3 {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 67%;
  width: 33%;
  height: 100%;
  background-color: black;
  z-index: -1;
}
